@use './mixins' as m;
@use './variables' as v;

:root {
  /* Primary */
  --color-primary: #{v.$color-primary};
  --gradient-check: #{v.$gradient-check};

  /* Light theme defaults */
  @include m.generate-theme-variables(v.$light-colors);

  /* Typography */
  --font-size-body: #{v.$font-size-body};
}

[data-theme='dark'] {
  @include m.generate-theme-variables(v.$dark-colors);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
